body {
  background-color: #ffe5ec;
  font-family: Times New Roman;
}

.container {
  width: 95%;
  margin: auto;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

button {
  padding: 8px 15px;
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
}

h2 {
  margin-bottom: 5px;
}

#hasil {
  margin-top: 20px;
}
